extends layout

block content
  .info
    h4 Amuse-Bouche
    p La mairie à 14h à la Talaudière.
    br
    h4 Entrée
    p L'église à 15h30, à quelques mètres de la mairie.
    br
    h4 Plat Principal
    p Le vin d'honneur
    p et le repas au Château de Fontanès.
    br
    h4 Trou Normand
    p La soirée jusqu'au petit matin.
    br
    h4 Dessert
    p On se retrouve pour ceux qui veulent le dimanche midi
