extends layout

block content
  h1 Ou dormir samedi soir ?
  .rooms
    .left
      .col.fontanes
        img(src= "images/resize_cave.jpg")
        .name Cave du Chateau de Fontanes
        .address Chateau de Fontanes
        .booking Pas de réservation, mais prévoyez juste un matelas gonflable + sac de couchage
        .price 0€
      .col.gite
        img(src= "images/resize_gite.jpg")
        .name Gite Communal de St Christo
        .address Saint Christo en Jarez
        .booking Si vous voulez réserver contactez Coco et Roro
        .price 13€ par personne + 3,50€ de draps si besoin
      .col.f1
        img(src= "images/resize_f1.jpg")
        .name Hotel Formule 1 - La Grand Croix
        .address 235, rue de la Peronnière, 42320 Grand Croix
        .booking 
          a(href= "http://www.hotelf1.com/fr/hotel-2428-formule-1-hotelf1-saint-etienne-est-la-grand-croix/location.shtml") Reservation en ligne
        .price 36€ la chambre
      .col.ibis
        img(src= "images/resize_ibis.jpg")
        .name Hotel Ibis - La Terrasse
        .address Ibis, 35 Place Massenet, 42000 Saint-Étienne
        .booking 
          a(href= "http://www.ibis.com/fr/hotel-0801-ibis-saint-etienne-la-terrasse/index.shtml") Reservation en ligne
        .price 67€ la chambre
    .right
      #map
      #directions

  script(src="/javascripts/map.js")
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwkeEgSWP_RsnynqhY_qkc_g-GZYXAcvo&callback=initMap")
