extends layout

block content
  .index
    .desc
      p Oui !
      p Après 10 ans passés ensemble, on a bien réfléchi, on se marie !
      img.nous.center(src= "images/nous.jpg")
      p Nous serions très heureux de partager ce moment avec vous.
