gray_dark = rgb(86, 90, 92)
gray_light = rgb(130, 136, 138)
gray_background =  rgb(247, 247, 247)

*
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

.left, .right, .col
  display inline-block
  vertical-align text-top

.left
  width 62%

.right
  width 38%
  height 100%
  padding-left 5px

.col
  color gray_light
  width 50%
  height  330px

  -webkit-filter grayscale(0%)
  -webkit-transition .5s ease-in-out
  -moz-filter grayscale(0%)
  -moz-transition .5s ease-in-out
  -o-filter grayscale(0%)
  -o-transition .5s ease-in-out

  position  relative
  perspective  800px

  .card
    width  100%
    height  100%
    position absolute
    transform-style  preserve-3d
    transition  transform 1s

  .side-a, .side-b
    padding 0 5px 10px 5px
    display  block
    position  absolute
    width  100%
    height  100%
    backface-visibility  hidden

  .card.flipped
    transform  rotateY( 180deg )

  .side-b
    transform  rotateY( 180deg )
    background  gray_background
    cursor pointer

  img
    max-width 100%
    height auto

  img hover
    cursor pointer

.col.grayscale
  -webkit-filter grayscale(100%)
  -webkit-transition .5s ease-in-out
  -moz-filter grayscale(100%) 
  -moz-transition .5s ease-in-out
  -o-filter grayscale(100%) 
  -o-transition .5s ease-in-out

.name
  font-size 16px
  line-height 17.6px
  color gray_dark
  padding 3px 0
  font-weight bold

.booking
  height 40px

#map
  width 100%
  height 630px
  max_height 100%

#directions
  background  gray_background
